@import url("styles/header.css");
@import url("styles/main.css");
@import url("styles/footer.css");

:root {
    --cor-de-fundo: #181818;
    --fonte: 'Space Grotesk', sans-serif;
    --cor-da-fonte: #FFFFFF;
    --verde: #03C988;
    --vermelho-erro: #D21312;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte);
    color: var(--cor-da-fonte);
    font-size: 18px;
    font-weight: 400;
    margin: 3em 6em;
}

@media screen and (min-width: 390px) {
    body {
        margin: .5em 1.5em;
    }
}