.rodape {
    background-color: #454545;
    border-radius: 1em;
}

.container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2em;
}

.container-texto h1 {
    font-size: 3em;
    color: var(--verde);
    padding: 1em 0;
}

.formulario-campo {
    padding-top: 1em;
}

.campo-escrita {
    width: 100%;
    resize: none;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #0000;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    outline: none;
    padding-bottom: 17px;
    padding-left: 24px;
}

.campo-escrita:focus {
    color: var(--verde)
}

.botao {
    color: #FFFFFF;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;
    border: none;
    padding: 2em 0 .5em;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5em;
    margin-top: 1em;
    position: relative;
}

.botao::after {
    content: " ";
    width: 0%;
    height: 3px;
    background-color: var(--verde);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s ease-in-out;
}

.botao:hover::after {
    width: 100%;
}

.rodape-nome {
    text-align: center;
    padding-top: 3em;
}

.rodape-nome p {
    color: var(--verde);
}

.rodape-links {
    text-align: center;
    padding: .5em 0 1em;
}

.mensagem-erro {
    color: var(--vermelho-erro);
    font-size: 12px;
}

@media screen and (min-width: 820px) {
    .rodape {
        padding: 2em;
    }

    .formulario {
        padding: 1em;
    }
}