@keyframes rotate {
    0% {transform: rotate(0);}
    100% {transform: rotate(360deg);}
}

.apresentacao-imagens {
    position: relative;
}

.img-perfil {
    width: 30%;
    float: right;
    position: relative;
    top: -100px;
    object-fit: cover;
    transition: .5s all ease-in-out;
    opacity: 60%;
}

.img-perfil:hover {
    transform: scale(1.05);
    opacity: 100%;
}

.img-rings {
    width: 8em;
    animation-name: rotate;
    animation-duration: 30s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.img-circle {
    position: relative;
    width: 5em;
    top: 15em;
    left: 10em;
}

.navegacao {
    display: flex;
    justify-content: space-between;
    position: relative
}

.navegacao h3 {
    display: flex;
    padding-top: 1em;
    text-transform: lowercase;
}

.navegacao-links {
    padding: 1em;
}

.navegacao-links img {
    margin-left: 1em;
}

.apresentacao {
    padding-bottom: 6em;
}

.apresentacao h1 {
    font-size: 36px;
    font-weight: 700;
}

.nome-sublinhado {
    --cor: #03C988;
    --transp: rgba(0,0,0,0);
    background: var(--cor);
    background: linear-gradient(
    180deg, 
    var(--transp) 60%,
    var(--transp) 10%,
    var(--cor) 21%,
    var(--cor) 88%,
    var(--transp) 95%,
    var(--transp) 100%);
}

.apresentacao ul {
    margin-top: 1em;
}

.apresentacao h4 {
    margin-top: 1em;
    text-decoration: none;
}

.link-contato {
    text-decoration: none;
    color: var(--cor-da-fonte);
}

@media screen and (min-width: 820px) {
    .img-perfil {
        top: -60px;
    }

    .img-rings {
        width: 50%;
    }
}