.apresentacao-imagens {
    position: relative;
}

.img-perfil {
    width: 30%;
    float: right;
    position: relative;
    top: -100px;
}

.img-rings {
    
}

.img-circle {
    position: relative;
    width: 5em;
    top: 15em;
    left: 15em;
}

.navegacao {
    display: flex;
    justify-content: space-between;
    position: relative
}

.navegacao h3 {
    display: flex;
    padding-top: 1em;
    text-transform: lowercase;
}

.navegacao-links {
    padding: 1em;
}

.navegacao-links img {
    margin-left: 1em;
}

.apresentacao {
    padding-bottom: 6em;
}

.apresentacao h1 {
    font-size: 36px;
    font-weight: 700;
}

.nome-sublinhado {
    --cor: #03C988;
    --transp: rgba(0,0,0,0);
    background: var(--cor);
    background: linear-gradient(
    180deg, 
    var(--transp) 60%,
    var(--transp) 10%,
    var(--cor) 21%,
    var(--cor) 88%,
    var(--transp) 95%,
    var(--transp) 100%);
}

.apresentacao ul {
    margin-top: 1em;
}

.apresentacao h4 {
    margin-top: 1em;
    text-decoration: none;
}

.link-contato {
    text-decoration: none;
    color: var(--cor-da-fonte);
}