.principal {
    border-top: var(--cor-da-fonte) solid;
}

.titulo-stacks, .titulo-projects {
    padding: 2em 0 .5em;
    font-size: 3em;
}

.titulo-projects {
    text-align: center;
}

.main img {
    width: 20%;
    margin: 1em;
}

.img-stacks {
    width: 5em;
    display: flex;
    padding: 0 1em 1em;
}

.legenda {
    border-left: gray solid 4px;
    color: gray;
}

.projeto-1 {
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
    padding: 2em;
}

.links-projeto-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-right: 1em;
}

.projeto-2 {
    display: flex;
    justify-content: start;
    padding-bottom: 2em;
    padding: 2em;
}

.links-projeto-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-left: 2em;
}

.projeto-3 {
    display: flex;
    justify-content: end;
    padding: 2em;
}

.projeto-3 p {
    display: flex;
    align-items: center;
    padding-right: 1em;
}

.link-projeto-3 img {
    width: 4em;
}

.links-projeto-animacao {
    position: relative;
}

.links-projeto-animacao::after {
    content: " ";
    width: 0%;
    height: 3px;
    background-color: var(--verde);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s ease-in-out;
}

.links-projeto-animacao:hover::after {
    width: 100%;
}

.projetos-links {
    text-decoration: none;
    color: var(--cor-da-fonte);
}

.projetos-links p {
    padding-bottom: .5em;
}

@media screen and (min-width: 820px) {
    .projeto-1 img {
        width: 60%;
    }
    
    .projeto-2 img {
        width: 60%;
    }
}